*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --primary-text-color: rgb(217, 219, 182);
    --seconary-text-color: rgb(215, 202, 196) ;
    --head-accent-color: rgb(14, 2, 55);
    --hover-head-accent-color : rgb(21, 21, 81);
    --back-color:rgb(243, 140, 4);
}

body{
    font-family: tahoma;
}

#img{
    width: 50px;
  
}


h1 #heading{
    text-align: center;
    margin-top: 40px;
   

}

.heading{
    margin: 20px;
    /* border: 1px solid black; */
    padding: 20px;
    display: flex;
   
    border-radius: 10px;
    justify-content:space-between ;
    background-color: var(--head-accent-color);
    color: var(--primary-text-color);
    
}

.icon{
   position: relative;
   top: 10px;
   height: fit-content;
  
}
.color{
    background-color: var(--hover-head-accent-color);
    color: var(--seconary-text-color);
}

.active{
 
    display: none;
}

.container{
    width: 80%;
    margin: 15px auto 25px auto;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}



.yellow{
    background-color: var(--back-color);
}



.inpt{
    padding: 5px 10px ;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;

    width: 500px;
    text-align: center;
    border-radius: 10px;

}

label{
    font-size: 20px;
}



  @media screen and (max-width: 709px) {
    .inpt{
      width: 400px;
    }
    }

 @media screen and (max-width: 562px) {
        .inpt{
          width: 300px;
        }
  }

 @media screen and (max-width: 440px) {
            .inpt{
              width: 200px;
            }
  }

 @media screen and (max-width: 396px) {
                 .heading{
                    flex-wrap: wrap;
                    gap: 20px;
                   
                 }
 }
  @media screen and (max-width: 314px) {
                .inpt{
                  width: 100px;
                  
                }
  }