*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --primary-text-color: rgb(217, 219, 182);
    --seconary-text-color: rgb(215, 202, 196) ;
    --head-accent-color: rgb(14, 2, 55);
    --hover-head-accent-color : rgb(21, 21, 81);
    --back-color:rgb(243, 140, 4);
}


body{
    font-family: tahoma;
    display: flex;
    flex-direction: column;
}

#img{
    width: 50px;
  
}

.calci{
    width: 95%;
    display: flex;
    justify-content:end;
    padding: 20px 0px 0px 20px ;
    
}


h1 #heading{
    text-align: center;
    margin-top: 40px;
   

}

.heading{
    width: 90%;
    user-select: none;
    margin: 10px;
    align-self: center;
    /* border: 1px solid black; */
    padding: 20px;
    display: flex;
    border-radius: 10px;
    justify-content:space-between ;
    background-color: var(--head-accent-color);
    color: var(--primary-text-color);
    
}

.icon{
   position: relative;
   top: 10px;
   height: fit-content;
  
}
.color{
    background-color: var(--hover-head-accent-color);
    color: var(--seconary-text-color);
}

.active{
 
    display: none;
}

.container{
    width: 70%;
    margin: 15px auto 25px auto;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    
}



.yellow{
    background-color: var(--back-color);
}



.inpt{
    padding: 5px 10px ;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;

    width: 500px;
    text-align: center;
    border-radius: 10px;

}

label{
    font-size: 20px;
}



  @media screen and (max-width: 709px) {
    .inpt{
      width: 400px;
    }
    }

 @media screen and (max-width: 562px) {
        .inpt{
          width: 300px;
        }
  }

 @media screen and (max-width: 440px) {
            .inpt{
              width: 200px;
            }
  }

 @media screen and (max-width: 396px) {
                 .heading{
                    flex-wrap: wrap;
                    gap: 20px;
                   
                 }
 }
  @media screen and (max-width: 314px) {
                .inpt{
                  width: 100px;
                  
                }
  }


  /* calculator */

  .img1{
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

.container1{
    
    align-self:flex-end ;
    width: 50%;
    position: relative;
   margin: 0px 50px 10px 0px;
    height: 40%;
    background-color:rgb(21, 21, 81) ;
   box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1),
   -15px -15px 20px #fffb;
   padding: 20px ;
   border-radius: 10px;

}


.container1 #input{
    position: relative;
    width: 90%;
    background-color: #fff;
    user-select: none;
    overflow: none;
    font-weight: 500 ;
    margin: 20px;
    height: 70px;
    
    text-align: end;
    
    border-radius: 10px;
    margin-bottom: 12px;
    
    font-size: 2em;
    line-height: 80px;
    border: 5px solid rgb(243, 140, 4);

   
}
.inner{
    position: relative;
    width: 100%;
    height: 70%;
    display: flex;
  
    gap: 20px;
   justify-content:space-evenly ;
}

@media screen and (max-width: 1329px) {
    .inner{
        flex-wrap: wrap;
    }
}


.left  {
    
    
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
     inset -5px -5px 20px #fff  ; 
    position: relative;
    display: grid;
    padding: 10px;
   background-color: #fff;
   flex-wrap: wrap;
  
}

.left #left{
 position: relative;
 grid-column: span 5;

} 
.right span{
    padding: 12px;
}
.right{
   
   
    border-radius: 20px;
    flex-wrap: wrap;
   
    display: grid;
    position: relative;
    padding: 10px;
    background-color: #fff;
}
.right #right{
    position: relative;
    grid-column: span 5;
   
   } 

.inner span{
    position: relative;
     
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
    inset -5px -5px 20px #fff  ; 
   padding: 5px;
   margin: 5px;
   cursor: pointer;
   user-select: none;
  
   display: flex;
   justify-content: center;
   align-items: center;
   /* font-size: 1.2em; */
   border: 2px solid #fff ;
   color: rgb(21, 21, 81);
 
    
}

.inner span:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
    inset -5px -5px 20px #ebe2e2  ; 
    border: 2px solid #f37609 ;
    border-radius: 10px;
    transform:scale(1.2) ;
}
@media screen and (max-width: 770px) {
   .right #right{
         grid-column: span 3;
    }
  .left  #left{
        grid-column: span 3;
    }
}
